streamlit
streamlit-autorefresh
numpy
pandas
scipy
matplotlib
seaborn
mplsoccer
highlight-text
Pillow
requests
beautifulsoup4
reportlab
pikepdf
PyMuPDF
plotly
openpyxl
skillcorner
openai==0.28
xmltodict